{
  "extends": "@subframe7536/eslint-config/solid",
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-namespace": "off",
    "no-sequences": "off",
    "accessor-pairs": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}